<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Clue Game List</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/clue/static/js/jquery-ui-1.10.3/themes/base/jquery-ui.css" />
  <script type="text/javascript" src="/clue/static/js/jquery-2.0.3.js"></script>
  <script type="text/javascript" src="/clue/static/js/jquery-ui-1.10.3/ui/jquery-ui.js"></script>  

  <script>
  
    function init_page() {
        
        console.log("getting /clue/pieces/");
        $.ajax({
                url: '/clue/pieces/',
                type: 'GET',
                success: function(response, textStatus, jqXHR) {
                    console.log("success /clue/pieces/: " + response);
                    console.log(response);
                    var options = $("#character_choice");
                    options.append($("<option />").val(" ").text(" "));
                    response.forEach(function(entry) {
                        options.append($("<option />").val(entry[0]).text(entry[1]));
                    });
                },
                error: function(xhr, status, error) {
                    console.log("error /clue/pieces/: " + error);
                }
        }).done(function() {
                console.log("done /clue/pieces/");
        }).fail(function(jqXHR, textStatus) {
                console.log("fail /clue/pieces/: " + textStatus);
        }).always(function() {
        });
    }
    
    function show_new_game_dialog() {
        $( "#new_game_dialog" ).dialog({ minWidth: 500, 
            buttons: [ { text: "Create", click: 
            function() { 
                new_game();
                $(this).dialog("close"); 
            } 
        } ] });
    }
    
    function new_game() {
        console.log("new_game");
        var piece = $("#character_choice").val();
        var game_name = $("#game_name").val();
        var player_name = $("#player_name").val();;
        $.ajax({
                url: '/clue/games/',
                type: 'POST',
                // {"game_name": "first", "player_name": "Paul", "piece": "PP" }
                data: {"game_name": game_name, "piece": piece, "player_name": player_name},
                success: function(response, textStatus, jqXHR) {
                    console.log("success /clue/games/: " + response);
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    console.log("error /clue/games/: " + error);
                }
        }).done(function() {
                console.log("done /clue/games/");
        }).fail(function(jqXHR, textStatus) {
                console.log("fail /clue/games/: " + textStatus);
        }).always(function() {
        });        
    }
    
    
    
    function logout() {
        $( "#logged_in_content" ).hide();        
        delete_cookie('clue_token');
        $( "#logged_out_content" ).show();
    }

    function delete_cookie(name) {
        document.cookie = name + '=' + '' + '; expires=Wed, 1 Jan 2070 13:47:11 UTC; path=/';        
        //document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }  
    
  </script>
    
</head>

<body onload="init_page();">


  <div id="logged_in_content">
      {% if player %}
      Hi {{ player.name }}:  <a href="#" onclick="show_new_game_dialog();">New Game</a> | <a href="#" onclick="logout();">Logout</a>
      {% else %}
      <a href="/clue/login">Login</a>
      {% endif %}      
  </div>
  <div id="logged_out_content" style="display:none;">
      <a href="/clue/login">Login</a>
  </div>
  
  <br/>
  <table>
      <tr>
          <th>Name</th><th>Owner</th><th>Start Time</th><th>Status</th><th>Players</th><th>&nbsp;</th>
      </tr>
      
      {% for game in games %}
      <tr>
          <td>{{game.name}}</td><td>{{game.owner}}</td><td>{{game.start_time}}</td><td>{{game.game_state}}</td><td>{{game.players}}</td><td>{{game.actions}}</td>
      </tr>
      {% endfor %}
  </table>



  <div id="new_game_dialog" title="New Game" style="display:none;">
    <table>
      <tr>
        <td align="right">Game Name:</td><td><input id="game_name" type="text" /></td>
      </tr>
      <tr>
        <td align="right">Your Piece:</td><td><select id="character_choice"></select></td>
      </tr>
    </table>
    <input id="player_name" type="hidden" value="{{ player.name }}" />
  </div>

</body>

</html>
